.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}
.descripcion {
  margin-bottom: 20px;
}
.descripcion h3 {
  font-size: 1.3em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.descripcion p {
  font-size: 1em;
  margin-bottom: 10px;
}
.descripcion div > p {
  font-size: 1.2em;
  font-weight: bold;
}
.descripcion p:last-child {
  font-size: 1em;
  color: #e94e77;
}
.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}
button {
  background-color: #272a2c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
  max-width: 200px;
  
}

button:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
}
.ItemCount {
  display: flex;
  justify-content: center;
  width: 100%;
}
.ItemCount span {
    color: #007bff;
    font-weight: bold;
    font-size: 1.2em;
  }
